In [4]:
# Autoreload so we're using most recent modules
%load_ext autoreload
%autoreload 2

import sys
import os
import pandas as pd

# Add the project root to the Python path
notebook_dir = os.path.dirname(os.path.abspath('__file__'))
project_root = os.path.dirname(notebook_dir)
sys.path.append(project_root)

# Import from src
from src.data.collection import (
    fetch_games,
    fetch_team_game_stats,
    fetch_advanced_team_game_stats,
    convert_to_dataframe,
    fetch_team_talent
)
from pprint import pprint

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## Inputs

In [5]:
start_year = 2021
end_year = 2023

## Get Games

In [6]:
## Get Games

try:
    games = fetch_games(start_year, end_year)

    # Convert to pandas dataframe
    df = convert_to_dataframe(games)

    # Display basic information about the dataframe
    print(f"Fetched {len(df)} games from {start_year} to {end_year}")
    print(df.info())

    # save to parquet
    output_path = "../data/games.parquet"
    df.to_parquet(output_path, index=False)
    print(f"Games data saved to {output_path}")

except Exception as e:
    print(f"An error occurred while fetching games: {str(e)}")

Successfully fetched games for 2021, conference: SEC
Successfully fetched games for 2021, conference: B1G
Successfully fetched games for 2021, conference: ACC
Successfully fetched games for 2021, conference: B12
Successfully fetched games for 2021, conference: PAC
Successfully fetched games for 2022, conference: SEC
Successfully fetched games for 2022, conference: B1G
Successfully fetched games for 2022, conference: ACC
Successfully fetched games for 2022, conference: B12
Successfully fetched games for 2022, conference: PAC
Successfully fetched games for 2023, conference: SEC
Successfully fetched games for 2023, conference: B1G
Successfully fetched games for 2023, conference: ACC
Successfully fetched games for 2023, conference: B12
Successfully fetched games for 2023, conference: PAC
Fetched 1524 games from 2021 to 2023
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1524 entries, 0 to 1523
Data columns (total 33 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  1524 non-null   int64
 1   season              1524 non-null   int64
 2   week                1524 non-null   int64
 3   season_type         1524 non-null   object
 4   start_date          1524 non-null   object
 5   start_time_tbd      1524 non-null   bool
 6   completed           1524 non-null   bool
 7   neutral_site        1524 non-null   bool
 8   conference_game     1524 non-null   bool
 9   attendance          1500 non-null   float64
 10  venue_id            1524 non-null   int64
 11  venue               1524 non-null   object
 12  home_id             1524 non-null   int64
 13  home_team           1524 non-null   object
 14  home_conference     1524 non-null   object
 15  home_division       1524 non-null   object
 16  home_points         1524 non-null   int64
 17  home_line_scores    1524 non-null   object
 18  home_post_win_prob  1499 non-null   float64
 19  home_pregame_elo    1476 non-null   float64
 20  home_postgame_elo   1470 non-null   float64
 21  away_id             1524 non-null   int64
 22  away_team           1524 non-null   object
 23  away_conference     1524 non-null   object
 24  away_division       1524 non-null   object
 25  away_points         1524 non-null   int64
 26  away_line_scores    1524 non-null   object
 27  away_post_win_prob  1499 non-null   float64
 28  away_pregame_elo    1367 non-null   float64
 29  away_postgame_elo   1363 non-null   float64
 30  excitement_index    1499 non-null   float64
 31  highlights          0 non-null      object
 32  notes               23 non-null     object
dtypes: bool(4), float64(8), int64(8), object(13)
memory usage: 351.4+ KB
None
Games data saved to ../data/games.parquet

## Team Game Stats

In [7]:
# Fetch and process team game stat
team_stats_df = fetch_team_game_stats(start_year, end_year)

if team_stats_df is not None:
    # Display the first few rows
    print("Sample team game stats:")
    display(team_stats_df.head())
    
    # Save to parquet
    team_stats_df.to_parquet("../data/team_game_stats.parquet", index=False)
    print("Improved team game stats saved to parquet file.")
else:
    print("Failed to fetch or process team game stats.")

Successfully fetched team game stats for 2021, conference: SEC
Successfully fetched team game stats for 2021, conference: B1G
Successfully fetched team game stats for 2021, conference: ACC
Successfully fetched team game stats for 2021, conference: B12
Successfully fetched team game stats for 2021, conference: PAC
Successfully fetched team game stats for 2022, conference: SEC
Successfully fetched team game stats for 2022, conference: B1G
Successfully fetched team game stats for 2022, conference: ACC
Successfully fetched team game stats for 2022, conference: B12
Successfully fetched team game stats for 2022, conference: PAC
Successfully fetched team game stats for 2023, conference: SEC
Successfully fetched team game stats for 2023, conference: B1G
Successfully fetched team game stats for 2023, conference: ACC
Successfully fetched team game stats for 2023, conference: B12
Successfully fetched team game stats for 2023, conference: PAC
Sample team game stats:

/Users/colingaffney/repos/personal-projects/college_football_predictor/src/data/collection.py:101: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  team_stats_df[numeric_columns] = team_stats_df[numeric_columns].apply(pd.to_numeric, errors='ignore')

,id,team_id,team_name,team_conference,home_away,points,rushingTDs,puntReturnYards,puntReturnTDs,puntReturns,...,yardsPerPass,completionAttempts,netPassingYards,totalYards,fourthDownEff,thirdDownEff,firstDowns,interceptionYards,interceptionTDs,passesIntercepted
0,401282144,245,Texas A&M,SEC,home,52,4,42.0,0.0,4.0,...,8.8,12-19,168,447,2-2,6-10,24,NaN,NaN,NaN
0,401282144,2504,Prairie View,SWAC,away,3,0,14.0,0.0,1.0,...,0.6,2-12,7,154,0-2,6-16,9,16.0,0.0,1.0
1,401282055,97,Louisville,ACC,away,24,2,1.0,0.0,1.0,...,5.3,23-38,200,355,3-5,6-16,22,NaN,NaN,NaN
1,401282055,145,Ole Miss,SEC,home,43,4,NaN,NaN,NaN,...,11.9,22-32,381,569,3-3,2-9,31,15.0,0.0,1.0
2,401282113,99,LSU,SEC,away,17,1,-1.0,0.0,1.0,...,7.5,20-33,249,326,0-1,4-12,20,NaN,NaN,NaN

Improved team game stats saved to parquet file.

## Advanced Team Stats

In [8]:
## Advanced Team Stats

max_teams = None  # For testing, set to None to use all teams

try:
    advanced_df, execution_time = fetch_advanced_team_game_stats(start_year, end_year, df, max_teams)

    # Display basic information about the dataframe
    print(f"Fetched {len(advanced_df)} advanced game stats in {execution_time:.2f} seconds")
    print(advanced_df.info())

    # Save to parquet
    output_path = "../data/advanced_team_game_stats.parquet"
    advanced_df.to_parquet(output_path, index=False)
    print(f"Advanced team game stats data saved to {output_path}")

except Exception as e:
    print(f"An error occurred while fetching advanced team game stats: {str(e)}")

Progress: 10/535 teams processed
Progress: 20/535 teams processed
Progress: 30/535 teams processed
Progress: 40/535 teams processed
Progress: 50/535 teams processed
Progress: 60/535 teams processed
Progress: 70/535 teams processed
Progress: 80/535 teams processed
Progress: 90/535 teams processed
Progress: 100/535 teams processed
Progress: 110/535 teams processed
Progress: 120/535 teams processed
Progress: 130/535 teams processed
Progress: 140/535 teams processed
Progress: 150/535 teams processed
Progress: 160/535 teams processed
Progress: 170/535 teams processed
Progress: 180/535 teams processed
Progress: 190/535 teams processed
Progress: 200/535 teams processed
Progress: 210/535 teams processed
Progress: 220/535 teams processed
Progress: 230/535 teams processed
Progress: 240/535 teams processed
Progress: 250/535 teams processed
Progress: 260/535 teams processed
Progress: 270/535 teams processed
Progress: 280/535 teams processed
Progress: 290/535 teams processed
Progress: 300/535 teams processed
Progress: 310/535 teams processed
Progress: 320/535 teams processed
Progress: 330/535 teams processed
Progress: 340/535 teams processed
Progress: 350/535 teams processed
Progress: 360/535 teams processed
Progress: 370/535 teams processed
Progress: 380/535 teams processed
Progress: 390/535 teams processed
Progress: 400/535 teams processed
Progress: 410/535 teams processed
Progress: 420/535 teams processed
Progress: 430/535 teams processed
Progress: 440/535 teams processed
Progress: 450/535 teams processed
Progress: 460/535 teams processed
Progress: 470/535 teams processed
Progress: 480/535 teams processed
Progress: 490/535 teams processed
Progress: 500/535 teams processed
Progress: 510/535 teams processed
Progress: 520/535 teams processed
Progress: 530/535 teams processed
Progress: 535/535 teams processed
Fetched 5533 advanced game stats in 901.87 seconds
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5533 entries, 0 to 5532
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   game_id   5533 non-null   int64
 1   season    0 non-null      object
 2   week      5533 non-null   int64
 3   team      5533 non-null   object
 4   opponent  5533 non-null   object
 5   offense   5533 non-null   object
 6   defense   5533 non-null   object
dtypes: int64(2), object(5)
memory usage: 302.7+ KB
None
Advanced team game stats data saved to ../data/advanced_team_game_stats.parquet

## Team Talent Composite

In [9]:
## Team Talent Composite

try:
    talent_df = fetch_team_talent(start_year, end_year)

    if talent_df is not None:
        # Display basic information about the dataframe
        print(f"Fetched team talent data from {start_year} to {end_year}")
        print(talent_df.info())

        # Display the first few rows
        print("\nSample team talent data:")
        display(talent_df.head())

        # Save to parquet
        output_path = "../data/team_talent.parquet"
        talent_df.to_parquet(output_path, index=False)
        print(f"Team talent data saved to {output_path}")
    else:
        print("No team talent data was fetched.")

except Exception as e:
    print(f"An error occurred while fetching team talent data: {str(e)}")

Successfully fetched team talent data for 2021
Successfully fetched team talent data for 2022
Successfully fetched team talent data for 2023
Fetched team talent data from 2021 to 2023
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 697 entries, 0 to 696
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    697 non-null    int64
 1   school  697 non-null    object
 2   talent  697 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 16.5+ KB
None

Sample team talent data:

   year      school   talent
0  2021     Alabama  1004.04
1  2021     Georgia  1001.79
2  2021  Ohio State   985.09
3  2021     Clemson   935.08
4  2021         LSU   903.72

Team talent data saved to ../data/team_talent.parquet